{{!-- <a href='https://www.freepik.com/free-photos-vectors/business'>Business vector created by freepik - www.freepik.com</a> --}}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Document</title>
</head>

<body>

    <header>
        <a href="#" class="logo">INSTADOWN</a>
        <nav>
            <ul>
                <li class="items"><a href="#"> Home</a></li>
                <li class="items"><a href="#"> Instagram</a></li>
                <li class="items"><a href="#"> Github</a></li>
                <li class="items"><a href="#"> About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">

        <section>
            <h1>{{title}}</h1>
            <p>Welcome to instagram downloader</p>
            <form action="/post" method="post" onsubmit="popup()">
                <div class="input">
                    <input type="text" name="url" class="input" placeholder="https://instagram/JKji4d">
                </div>
            </form>

        </section>

    </div>
    <div class="container-two">
        <section>
            <h3>Save The Image</h3>
            <img src={{imgSource}} class="image" alt="">
            <div class="buttonbox">
                <a href={{imgSource}}><Button class="button">Download</Button></a>
            </div>
        </section>
    </div>
    <footer>
        <a href="#">
            <h4>Instagram Downloader</h4>
        </a>
        <div class="social">
            <a href="#"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-pinterest fa-lg" aria-hidden="true"></i></a>
        </div>
    </footer>


</body>

</html>