body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 5px 20px;
  text-decoration: none;
  color: #577399;
  font-weight: bold;
  font-size: large;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #577399;
  padding: 5px 20px;
}

nav ul li a:hover {
  border-bottom: 4px solid #fe5f55;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: border-bottom 0.3s;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("/images/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.container section {
  text-align: center;
  transform: translateY(75px);
}

section h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.input {
  width: 600px;
  height: 46px;
  border: 2px solid #fe5f55;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  color: #577399;
}

.input input:focus {
  outline: none;
}
input:focus {
  background-color: #57739934;
  transition: background-color 0.9s;
}

/* Container-Two */

.container-two {
  background-color: #577399;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container-two section {
  margin-top: 30px;
  text-align: center;
}

section h3 {
  color: white;
  font-size: 40px;
}

.image {
  width: 400px;
}

.button {
  padding: 15px 20px;
  border: none;
  background: #f2cc8f;
  font-weight: bold;
  color: white;
  display: block;
  cursor: pointer;
}

.buttonbox {
  display: flex;
  justify-content: center;
}
.buttonbox a {
  text-decoration: none;
}

/* footer */
footer {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  background-color: darkslategrey;
}

footer .social a {
  margin-right: 30px;
  line-height: 56px;
  color: white;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
